.hero-section{
    display: flex;
    height: 80vh;
    padding: 0 .5rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    // background-color: red;
    .hero-section-inner{
        // background-color: aqua; //hero-section image container
        max-width: 100%;
        width: 100%;
        transition: all 200ms ease-in-out;
        .hero-image{
            display: none;
            width: 100%;
            max-width: 100vw;     
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 1660 / 550;
            }
        }

        #prevBtn, #nextBtn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            z-index: 1;
        }

        #prevBtn {
            left: 10px;
        }

        #nextBtn {
            right: 10px;
        }

        .hero-image.first {
            display: block;
        }

    }
}