.home-section {
    position: relative;
    overflow: hidden;
    // height: 100vh;
    // background-color: red;

    .home-section-inner {
        // padding: 1rem;
        // background-color: #ff914d;

        .main-section{
            gap: 1rem;
            // position: relative;
            // z-index: 3;
            flex-wrap: wrap;
            .section-title{
                flex-basis: 50%;
                // background-color: red;
                flex-basis: 58%;
                padding: 0 20px;
                text-align: left;
                h2 {
                    position: relative;
                    font-size: 3rem;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 10%;
                        height: .1rem;
                        background: linear-gradient(90deg, #ff3131, #ff914d);
                      }
                }

                .paragrapgh{
                    margin-bottom: 1rem;
                }

                .section-btn{
                    background: linear-gradient(90deg, #ff3131, #ff914d);
                    padding: .8rem 2rem;
                    border-radius: 1rem;

                    span{
                        text-transform: uppercase;
                        color: white;
                        font-size: .8rem;
                        font-weight: bold;
                    }
                }
            }
            
            
            .cource-search-section {
                background: linear-gradient(90deg, #ff3131, #ff914d);
                // height: 50vh;
                flex-basis: 32%;
                text-align: center;
                position: relative;
                z-index: 3; 
                clip-path: polygon(0% 0%, 100% 0, 100% 92%, 50% 100%, 0 92%);
                .cource-search-inner{
                    padding: 1rem;
                    // background-color: red;
                        .icon {
                            margin-top: 6rem;
                            // background-color: green;
                            color: white;
                            margin-bottom: 20px;
                        }

                        .course-content{
                            // background-color: aqua;
                            font-size: 1.1rem;
                            font-weight: bold;
                            text-transform: uppercase;
                            margin-bottom: 1rem;
                        }
                    .cource-search {
                        gap: 10px;
                        width: 100%;
                        // background-color: green;
                        margin-block: 2rem;
                        input {
                            flex: 1;
                            width: 100%;
                            padding: 10px;
                        }
                    }
                    .content-bottom{
                        gap: .5rem;
                        margin-top: 1rem;
                        margin-bottom: 6rem;
                        // background-color: aquamarine;
                    }
                }
            }
        }
    }
}
.section-space{
    width: 100%;
    height: 32vh;
}

.parallax-container {
    display: grid;
    place-content: center;
    padding: 0 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: url(../../assets/img/hero-section/bg.jpg); 
    background-size: cover;
    border-image: fill 0 linear-gradient(#0003, #000);
    background-repeat: no-repeat;
    object-fit: cover;
    height: 40vh;
}


.another{
    height: 100vh;
    background: linear-gradient(90deg, #ff3131, #ff914d);
}




