
/*   ::-webkit-scrollbar {
    width: 4px;
    background-color: black;

  } */

 
 /*  ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,#bd1235);
    border-radius: 6px; 
  }
 */

