$font-size-small: clamp(0.7813rem, 0.6913rem + 0.45vw, 1.04rem);
$font-size-p: clamp(0.9375rem, 0.8114rem + 0.6304vw, 1.3rem);
$font-size-base: clamp(1.125rem, 0.9511rem + 0.8696vw, 1.625rem);
$font-size-h1: clamp(1.35rem, 1.113rem + 1.1848vw, 2.0313rem);
$font-size-h2: clamp(1.62rem, 1.3002rem + 1.5989vw, 2.5394rem);
$font-size-h3: clamp(1.9438rem, 1.5159rem + 2.1391vw, 3.1738rem);
$font-size-h4: clamp(2.3325rem, 1.7638rem + 2.8435vw, 3.9675rem);
$font-size-h5: clamp(2.7994rem, 2.0481rem + 3.7565vw, 4.9594rem);